<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:form>

    <section>
        <h1>Test Tecnico Sondeos</h1>
        <article>
           <p>Ingresa un entero positivo y te devolvera el siguiente entero positivo mas grande 
             formado por los digitos del numero original.
             En caso que no exista un numero mas grande devolvera -1.
           </p>
        </article>
    </section>
    
    <p>
         <label>Numero entero positivo:</label>
         <br/>
         <h:inputText id="number" p:type="number" value="#{bean.number}" p:min="1" p:required="required" 
           p:title="Numero entero positivo.">
        </h:inputText>
    </p>
    <p>
        <h:commandButton value="Calcular siguiente mayor" type="submit" action="#{bean.siguienteMasGrande}" />
    </p>
    <p>
        <label>Siguiente entero positivo mas grande:</label>
        <br/>
        <output jsf:id="total" name="total">#{bean.totalValue}</output>
    </p>

</h:form>
</html>
